<%- include("./partials/head") %>

  <body>
    
    <%- include("./partials/header") %>

    <h2>Página Contato</h2>

    <section class="sessao-1">
      <p>Nome: <%= name %></p>
      <p>Fone: <%= fone %></p>
      <p>E-mail: <%= email %></p>
      <img src="/images/2.png" alt="avatar">
    </section>
    
  </body>

</html>
